body{
    box-sizing: content-box;
    width: 100%;
    font-family: Arial, sans-serif;
    background: #F2F2F0;
    margin: 0;
}

body.dark-theme{
    background-color: #181a1b;
}

.theme #theme-label{
    cursor: pointer;
    color: #000;
}

.theme #theme-label:hover{
    color: #535353;
}

body.dark-theme .theme #theme-label{
    color: white;
}

body.dark-theme .theme #theme-label:hover{
    color: rgb(223, 222, 222);
}

.header {  
    position: absolute;
    font-family: Arial, sans-serif;
    z-index: 10;
    top: 3%;
    width: 100%;
}


.header .header_inner{
    max-width: 90rem;
    margin:auto;
    display: flex;
    margin-left:10%;
    margin-right:10%;
}

.header .header__menu{  
    margin-left:auto;
}

.header .header__menu a{  
    font-size: 16px;
    text-decoration: none;
    color: #000;
    margin-left:50px;
    cursor: pointer;
}

.header .header__menu a:hover{  
    color: #535353;
}

body.dark-theme .header .header__menu a{
    color: white;
}

body.dark-theme .header .header__menu a:hover{
    color: rgb(223, 222, 222);
}

.logo img{
    margin-top: -25px;
    width: 4rem;
}
